:root {
  --orange: #f8ad07;
  --scarlet: #e4003a;
  --purple: #870b58;
  --blueGray: #8a8f9e;
  --darkGray: #303642;
  --red: #ff0019;
  --black:  #000000;
}

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #ffffff ;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
.stroke-text-normal{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);

}

.App{
   scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow-y: auto; */
}


/* General Text styling */
.stroke-text-normal-darkGray{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--darkGray);
}
.stroke-text-normal-blueGray{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--blueGray);
}
.stroke-text-normal-orange{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--orange);
}
.stroke-text-normal-scarlet{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--scarlet);
}

.text-normal-darkGray{
  color: var(--darkGray);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--darkGray); */
}
.stroke-text-normal-blueGray{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--blueGray);
}
.stroke-text-normal-orange{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--orange);
}
.stroke-text-normal-scarlet{
  color: var(--scarlet);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--scarlet); */
}